@import "src/sass/base/variables";
@import "src/sass/base/animations";



* {
    font-family: 'Museo Sans Curl', sans-serif;
}

.container{
    // position: relative; // второй способ настройки слайдера   
    max-width: 950px;
    margin: 0  auto;
}

@import "src/sass/blocks/promo";
@import "src/sass/blocks/header";
@import "src/sass/blocks/button";
@import "src/sass/blocks/advantages";
@import "src/sass/blocks/consultation";
@import "src/sass/blocks/titles";
@import "src/sass/blocks/forms";
@import "src/sass/blocks/carousel";
@import "src/sass/blocks/catalog";
@import "src/sass/blocks/reviews";
@import "src/sass/blocks/footer";
@import "src/sass/blocks/modal";
@import "src/sass/blocks/pageup";
@import "src/sass/base/media";

